:root {
    --black: #151515;

    --gray-600: #606060;
    --gray-500: #b7b7b7;
    --gray-400: #f3f3f3;

    --white: #ffffff;

    --red-500: #d62424;
    --red-700: #b61e1e;

    --yellow-500: #ffd84c;
}
