---
import ContentSection from "../ContentSection.astro";
---
<ContentSection orderId="03" title="Project Plan">
    <div class="container">
        <div class="container__col">
            <div class="container__block">
                <h4>Monday - best start ever</h4>
                <p>When I arrived home after the briefing I tried with an emphasis on tried making some soup. It went about as bad as it could. I cut my finger open whilst washing a freshly sharpened knife and then went on a 5 hour adventure to get to the emergency room where i got fixed up. So yeah mondays...</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Accomplish nothing...</p>
                    </li>
                </ul>
            </div>
            <div class="container__block">
                <h4>Tuesday - comeback time</h4>
                <p>After getting some well earned rest I got started researching the world of web animations. I worked together with Margo for some extra motivation and learned a lot about lots of different topics. I made a storyboard for the main animation of the website in Figma to help me visualize it and figure out the best way to implement it.</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Research GSAP and best practices for animating the web</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Brainstorm for some inspiration</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Visualize the main animation by sketching and using Figma</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Design the overall look & feel of the digital product</p>
                    </li>
                </ul>
            </div>
            <div class="container__block">
                <h4>Wednesday - Expert meeting</h4>
                <p>After a couple days Ida let me know she’d organized a meeting for me with an expert on the topic of web animations. Most of the day was spent @KEA trying to implement the stuff i learned from the expert meeting.</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Meet the expert</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Write down important learnings</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Setup the project structure for the digital project</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Start implementing some of the easy UI components</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Create the preloader animation</p>
                    </li>
                </ul>
            </div>
            <div class="container__block">
                <h4>Thursday - Chill day</h4>
                <p>Thursday was a laid back day where I brushed up some UI components and finished the main animations for the website.</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Continue working on the UI</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Implement the main animation</p>
                    </li>
                </ul>
            </div>
            <div class="container__block">
                <h4>Friday - Documenting day</h4>
                <p>After learning so many things I wanted to gather it all in one place. I wrote everything out and made a design to present all of it in a nice way on the website.</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Bundle all learnings together</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Make a design to present the content in a nice way on the digital product</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Check for spelling errors and polish things in general</p>
                    </li>
                </ul>
            </div>
            <div class="container__block">
                <h4>The weekend - SHIP IT!</h4>
                <p>In the weekend I made sure that I included everything that was needed for the hand in. I added all of the content to the website and applied the animations. Brushed up some more things within the codebase. Finally i deployed the website using github pages for everyone to view.</p>
                <ul class="container__list">
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Gather all things nessecary for the hand in</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Add the content of the deep dive to the website.</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Apply the remaining animations</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Clean up the codebase</p>
                    </li>
                    <li class="container__list-item">
                        <img src="/icons/circle-arrow-right-red.svg" alt="arrow icon">
                        <p>Deploy the website using Github pages</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ContentSection>

<style lang="scss">

    .container {
        display: grid;

        &__col {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);
        }

        &__block {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);

            h4 {
                font-weight: var(--fw-bold);
                line-height: var(--line-height-xs);
            }

            p {
                line-height: var(--line-height-lg);
                color: var(--gray-600);
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
        }

        &__list-item {
            display: flex;
            align-items: center;
            gap: var(--space-xs);

            img {
                height: 1.5rem;
                width: fit-content;
            }
        }
    }
</style>