---
---

<footer class="footer">
    <section class="footer__logo">
        <img src="/icons/logo-black.svg" alt="logo">
    </section>
</footer>

<script>

</script>

<style lang="scss">
    .footer {
        padding-inline: var(--space-xl);
        height: 4rem;
        background-color: var(--gray-400);
        border-bottom: 4px solid var(--red-500);
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo img {
            height: 1.25rem;
        }
    }
</style>